.App {
  text-align: center;
}

div {
  box-sizing: border-box;
}

.list {
  padding-left: 20px;
  text-align-last: left;
  border-bottom: 1px solid #000;


}

.black_nav {
  display: flex;
  background-color: #000;
  width: 100%;
  padding-left: 20px;
  color: aliceblue;
}
span {
  cursor: pointer;
}